# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/
.venv/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env

# Logs
*.log

# VS Code
.vscode/

# Mac
.DS_Store

# Build
dist/
build/
*.egg-info